NEXT_PUBLIC_SUPABASE_URL=https://uisbsuwfrpplxctpknzu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpc2JzdXdmcnBwbHhjdHBrbnp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNTg4MjMsImV4cCI6MjA3OTczNDgyM30.LSeN-dHxD6beHUDLatU2UThSjkL6lXFBB4xeYamQzZs
